#content-container {
    margin: 50px 5%;
}

form {
    width: 50%;
    display: inline-block;
    max-width: 550px;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

#info {
    padding: 10px;
}

#info input {
    display: block;
    margin: 10px 0;
}

#preferred-contact {
    padding: 10px;
}

#referral {
    padding: 10px;
}

#referral div {
    padding: 5px 0;
}

form p {
    padding: 10px 0;
    font-size: 1.2rem;
}

#submit-btn {
    padding: 10px;
}

#contact-description {
    width: 40%;
    float: right;
    padding: 5%;
    text-align: center;
}

#contact-description h2 {
    padding: 10px 0;
    font-size: 2rem;
}

#contact-description p {
    font-size: 1.2rem;
}

