* {
    margin: 0;
    padding: 0;
}

#logo {
    display: inline-block;
    height: 70px;
    width: 10%;
}

#logo img {
    height: 70px;
    margin-left: 10px;
}

.nav {
    background-color: white;
    text-transform: uppercase;
    height: 70px;
    width: 100%;
}

.nav ul {
    display: none;
}

.mobile-nav {
    width: 10%;
    float: right;
}

.mobile-nav img {
    height: 70px;
}

#mobile-links {
    position: absolute;
    top: 70px;
    right: 0px;
    height: 200px;
    width: 120px;
    background-color: white;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1;
}

#mobile-links a {
    padding-left: 10px;
}

.nav li {
    display: inline-block;
    vertical-align: middle;
}

.nav a {
    color: black;
    padding-right: 22px;
    text-decoration: none;
}

#category-filter {
    height: 50px;
    display: flex;
    justify-content: center;
}

#category-filter label {
    color: white;
    padding: 15px;
}

#category-filter select {
    width: 300px;
    margin: 5px;
}

#category-filter option {
    font-size: 20px;
    text-align: center;
}

#store-nav ul {
    display: none;
}

#store-nav {
    background-color: black;
    height: 50px;
}

#store-nav li {
    display: inline-block;
    padding-left: 5%;
    position: relative;
    top: 15px;
}

#store-nav a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.main-footer {
    background-color: black;
    height: 200px;
    clear: both;
}

.main-footer a {
    color: white;
    text-decoration: none;
}

.main-footer__link {
    position: relative;
    top: 50px;
    padding: 20px;
    text-align: center;
}

button:hover {
    cursor: pointer;
}

@media (min-width: 800px) {
    .nav ul {
        display: inline-block;
        width: 75%;
        position: relative;
        top: -30px;
    }

    .mobile-nav {
        display: none;
    }

    #store-nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #category-filter {
        display: none;
    }
}